
#invitation-details, #rsvp-form, #rehearsal-dinner-details, #commentbox {
    margin-top: 1em;
    padding: 1em;

    border: .2em solid grey;
    opacity: 1.0 !important ;
    font-family: 'Merriweather', serif;
    font-weight: 400;

}

.title {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-size: 36px;
}


#invitation-body {
    background-color: rgba(255,255,255,0);
    opacity: 1;
    padding-bottom: 2em;
    margin-top: -2em;
    margin-bottom: 0em;

}

.rsvpnames{
  font-family: 'Merriweather', serif;
  font-weight: 400;
  margin:auto !important;
}

.rsvpoptions{
  font-family: 'Merriweather', serif;
  font-weight: 400;
}


#footer {
    padding-bottom: 30px;
}

.invimage{
height:auto;
width:100%;
max-width:none;
max-height:none;
margin: -10% 0 0 0px;
}

.btncolor{
  background-color: #0B3243 !important;
}
