{% extends 'base.html' %}
{% load staticfiles %}
{% block page_head %}
    <link href="{% static 'bigday/css/rsvp-confirmation.css' %}" rel="stylesheet" xmlns="http://www.w3.org/1999/html">
{% endblock %}
{% block page_content %}
    <div class="layer"></div>
    <div class="container confirmbox" id="main">
        <h2>Hi {{ party.name }}, thanks for your response!</h2>
        {% if party.any_guests_attending %}
            <p>
                We're excited to celebrate our day with you in Kansas City! See you in June!
            </p>
        {% else %}
            <p>
                We're sorry you won't be able to join us in Kansas City.
            </p>
            <p>
                We look forward to catching up with you some other time!
            </p>
        {% endif %}
        <p>
            - Matthew and Megan
        </p>
    </div>
{% endblock %}
