<section id="event" class="bg-dark marmerbggreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="section-heading text-center marmerheader">
                  The Big Day
                </h1>
                <hr class="marmerhr">
                <div class="col-lg-6">
                    <h3 class="section-heading text-center marmersubheader">Ceremony</h3>
                    <p class="marmer2columnbodytext marmercenter">
                      <br>
                      <center><b>June 9th, 2018</b></center>
                      <center>Country Club Christian Church</center>
                      <center>6101 Ward Parkway Kansas City, MO 64113</center>
                      <br>
                      <b>Phone:</b> (816) 333-4917
                      <br><br>
                      <b>Attire:</b> Semiformal / Dressy Casual
                      <!-- <br><br>
                      <b>Transportation:</b> Transportation is not provided to the ceremony. Please plan responsibly. -->
                      <br><br>
                      <b>Parking:</b> Parking is available in the lot behind the Combs Chapel north of the main building. You may also park along residential streets near the church. Parking is not allowed on Ward Parkway on Saturdays. Parking for individuals with disabilities is available in lots on the east and south sides of the building.


                    </p>
                </div>
                <div class="col-lg-6">
                    <h3 class="section-heading text-center marmersubheader">Reception</h3>
                    <p class="marmer2columnbodytext marmercenter">
                      <br>
                      <i>
                      <center>Following the ceremony</center>
                      </i>
                      <center>The Martin Event Space</center>
                      <center>13440 Holmes Rd, Kansas City, MO 64145</center>
                      <br>
                      <b>Phone:</b> (816) 333-4917
                      <br><br>
                      <b>Attire:</b> Semiformal / Dressy Casual
                      <!-- <br><br>
                      <b>Transportation:</b> ??? -->
                      <br><br>
                      <b>Parking:</b> Parking is located on-site.
                      <br><br>
                      <b>What to Expect:</b> Cocktails, dinner, and drinks will be provided. Get ready to celebrate in our own geeky way with dancing and games!


                    </p>
                </div>
{% comment %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h2 class="section-heading text-center">Sunday</h2>
                <hr class="marmerhr">
                <p>
                    Cory and Rowena will be headed to Niagara Falls on Sunday.
                    Anyone who wants to join them is welcome.
                    Details will be coordinated via Whatsapp.
                </p>
            </div>
        </div>
    </div>
{% endcomment %}
</section>
