<section id="event" class="bg-dark marmerbggreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 ">
                <h1 class="section-heading text-center marmerheader">
                  The Big Day
                </h1>
                <hr class="marmerhr">
                <div class="col-lg-6">
                    <h3 class="section-heading text-center marmersubheader">Ceremony</h3>
                    <p class="marmer2columnbodytext marmercenter">
                      <br>
                      <center><b>June 9th, 2018 at 4:00pm</b></center>
                      <center>Country Club Christian Church</center>
                      <center>6101 Ward Parkway Kansas City, MO 64113</center>
                      <br>
                      <b>Phone:</b> (816) 333-4917
                      <br><br>
                      <b>Attire:</b> Semiformal / Dressy Casual
                      <br><br>

                      <b>Parking:</b> Parking is available in the lot behind the Combs Chapel north of the main building. You may also park along residential streets near the church. Parking is not allowed on Ward Parkway on Saturdays. Parking for individuals with disabilities is available in lots on the east and south sides of the building.


                    </p>
                </div>
                <div class="col-lg-6">
                    <h3 class="section-heading text-center marmersubheader">Reception</h3>
                    <p class="marmer2columnbodytext marmercenter">
                      <br>
                      <i>
                      <center>Following the ceremony</center>
                      </i>
                      <center>The Martin Event Space</center>
                      <center>13440 Holmes Rd, Kansas City, MO 64145</center>
                      <br>
                      <b>Phone:</b> (816) 333-4917
                      <br><br>
                      <b>Attire:</b> Semiformal / Dressy Casual

                      <br><br>
                      <b>Transportation:</b> Take an Uber to and from The Martin on us! You may find our special event promo code displayed prominently at both the ceremony and reception venues. Simply download and open the Uber app, request a ride during the event time, and enter the code under Promotions in the Payments tab. The promo is good for 2 rides up to $10.00 each only to/from The Martin Event Space during our event time. More about how Uber works <a href="https://help.uber.com/h/738d1ff7-5fe0-4383-b34c-4a2480efd71e">here</a>.
                      <br><br>
                      <b>Parking:</b> Parking is located on-site.
                      <br><br>
                      <b>What to Expect:</b> Cocktails, dinner, and drinks will be provided. Get ready to celebrate in our own geeky way with dancing and games!


                    </p>
                </div>

</section>
