{% load staticfiles %}
<section id="gifts" class="marmerbgblue">
<div class="container">
        <h2 class="section-heading text-center marmerheader">Registry</h2>
        <hr class="marmerhr">
        <h3 class="marmersubheader" style="text-align:center">We are registered at:</h3>

        <div  style="text-align:center;">
          <br>
          <a href="https://www.amazon.com/wedding/megan-ruth-matthew-russell-kansas-city-june-2018/registry/3UFYERNQI8M2D">
            <img src="{% static 'bigday/images/amazon.png' %}" style="margin: 0px 20px" />
          </a>
        <a href="https://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&inventoryCallEnabled=true&registryId=545570598&pwsurl=">
         <img src="{% static 'bigday/images/bbb.png' %}" style="margin: 0px 20px" />
         </a>
         <a href="https://www.honeyfund.com/wedding/marmerwedding">
         <img src="{% static 'bigday/images/honeyfund.png' %}" style="margin: 0px 20px"/>
         </a>
        </div>

</div>
</section>
