<section id="location">

<div class="container marmerbgwhite">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center marmerheader">Welcome to Kansas City!</h2>
            <hr class="marmerhrblue">

            <div class="col-lg-6">
                <h3 class="section-heading text-center marmersubheader">Getting There</h3>
                <p class="marmerbodytext">

                  Kansas City is located in the beautiful state of Missouri (yes, that’s right - NOT Kansas :) ). The ceremony venue is located about 35 minutes south of the Kansas City International Airport if you are traveling by plane and about 15 minutes from Union Station if you are traveling by Amtrak. Car rental and Uber are available at the airport and around the city. We highly recommend Uber if you don’t want to navigate the city, but it will probably cost you more in the long run versus car rental. If you are driving yourself, Google Maps is your friend! Please don’t use Apple Maps. It is terrible and most likely won’t be updated on the latest (and many) construction zones and traffic accidents in the area.
<br><br>
The time from the ceremony venue to the reception venue is typically 20-30 minutes depending on traffic.

                </p>
            </div>

            <div class="col-lg-6">
                <h3 class="section-heading text-center marmersubheader">Where To Stay</h3>
                <p class="marmerbodytext">

                  We have booked a discounted wedding block at <b>The Sheraton Overland Park</b>! You may reserve by clicking
                  <a href="https://www.starwoodmeeting.com/events/start.action?id=1803069063&key=D39906E"><b>here</b></a> or by calling <b>(866) 837-4214</b> and mentioning the Ruth Russell Wedding Block in order to secure the group rate. The cut-off date for guest rooms is <b>May 8, 2018</b> so please book soon!
<br><br>
<b>The Sheraton Overland Park</b> is located at:<br>
6100 College Blvd, Overland Park, KS 66211
<br><br>
It is 20 minutes away from the ceremony venue via I-435 and Ward Pkwy, and 15 minutes away from the reception venue via Holmes and I-435.<br>
-----<br>
Outside of The Sheraton, you will find many hotels in the vicinity of it including: Aloft Leawood Overland Park, TownePlace Suites - Kansas City-Overland Park, Hyatt Place Kansas City/Overland Park Convention Center, Holiday Inn Express & Suites.
<br><br>
There are also a number of small B&B’s that you can book through <a href="https://www.bedandbreakfast.com/">bedandbreakfast.com</a>, as well as vacation rentals available through <a href="https://www.airbnb.com/">airbnb</a>.

                </p>
            </div>
            <br><br>
            <div style="text-align:center">
              <h3 class="marmersubheader">Things to do</h3>
              <div class="marmerbodytext">
                There is plenty to see and do in Kansas City and in the surrounding areas! Visit <a href="https://www.tripadvisor.com/Attractions-g44535-Activities-Kansas_City_Missouri.html">TripAdvisor’s list</a> to quickly find cool things to do depending on your taste.
                As for us, here’s what we like to do:
                <br><br>
                <center><a href="https://www.nelson-atkins.org/" class="marmercenter"><b>The Nelson-Atkins Museum of Art</b></a><br>
                </center>Free of charge, quiet, and jam-packed with over 40,000 works of art including Impressionist, Post-Impressionist, Asian, Native American, and Egyptian. Don’t forget to visit the Donald J. Hall Sculpture Park, where you will see the famed giant KC shuttlecocks!
              <br><br>

                <center><a href="https://www.theworldwar.org/"><b>The National World War 1 Museum and Memorial</b></a><br>
                </center>The National World War I Museum and Memorial is America's leading institution dedicated to remembering, interpreting and understanding the Great War and its enduring impact on the global community. The Museum holds the most comprehensive collection of World War I objects and documents in the world and is the second-oldest public museum dedicated to preserving the objects, history and experiences of the war.
                <br><br>

                <center><a href="https://countryclubplaza.com/"><b>The Country Club Plaza</b></a><br>
                </center>Just down the street from “The Nelson” is a sprawling outdoor marketplace featuring romantic European sculptures and fountains, including the famous J.C. Nichols Memorial fountain located at the corner of 47th and Main. Lots of restaurants and retail stores can be found here, as well as Pokemon GO stops and gyms! The Plaza is one of our favorite Pokemon GO haunts, as well as the place where we lived for a year.
                <br><br>

                <center><a href="http://www.downtownkc.org/experience-downtown/"><b>Downtown</b></a><br>
                </center>The KC downtown area has had a revival in recent years and now has a lot to offer in the way of restaurants, breweries, barcades, nightclubs, museums, and art galleries. All of which are now connected thanks to the KC Streetcar connecting the entirety of downtown from Union Station to the River Market up north. Our favorite places include the Flying Saucer Draught Emporium for delicious food and the best selection of beer around, and the Alamo Drafthouse for movies (both new and old).
                <br><br>

                <center><a href="https://www.kansascityzoo.org/" class="marmera"><b>Kansas City Zoo</b></a><br>
                </center>Animals. ‘Nuff said.
                <br><br>

                <center><a href="https://www.tripadvisor.com/Attractions-g44535-Activities-c56-t208-Kansas_City_Missouri.html"><b>Escape Rooms</b></a><br>
                </center>Escape Rooms are a fun concept taking the US by storm. The goal is to work together with a group of people to solve puzzles and riddles and escape from a locked room in a limited amount of time. Our favorite so far has been Breakout KC! (And so far, we’ve always broken out - last time in nearly record time.)
                <br><br>

                <center><a href="https://www.worldsoffun.com/"><b>Worlds of Fun / Oceans of Fun</b></a><br>
                </center>Our local theme park, complete with rollercoasters, water rides, and... SNOOPY!
                <br><br>

                <center><a href="https://www.opkansas.org/things-to-see-and-do/arboretum-and-botanical-gardens/"><b>Overland Park Arboretum and Botanical Gardens</b></a><br>
                </center>One of the most gorgeous areas we have ever been to! The Arborteum spans 300-acres and includes wooded trails, gardens galore, and educational activities for the whole family. It is not uncommon to find plein air painters scattered around painting some of the 1,700 species of plants and flowers. Definitely worth the drive!
                <br><br>

                <center><a href="http://kcparks.org/places/loose-park/"><b>Loose Park</b></a><br>
                </center>A 74-acre park directly south of the Plaza that includes a scenic walking path and a small lake. We go here all the time to get a jog or leisurely stroll in, and hopefully soon we can start using our new hammock! The most breath-taking part of this park is the Rose Garden located in the northwest corner. This is also the location of The Battle of Westport during the American Civil War and the park includes a visitor’s center and plaques for all you history buffs to check out.

                <br><br>
                <i>This is only a small sampling of what Kansas City has to offer! Look for a map and more information included in your formal invitation (coming soon)!
                </i>
              </div>
          </div>
        </div>
    </div>
</div>
</section>
