<header id="second-header" class="secondary"></header>
<!-- <h5 class="text-center text-muted">The view of Hout Bay from from Chapman's peak the day we got engaged.</h5> -->
<section id="proposal" class="marmerbgwhite">
    <div class="container">
        <div class="col-lg-12">
            <h2 class="section-heading text-center marmerheader">The Proposal</h2>
            <hr class="marmerhrblue">
            <p class="marmerbodytext">
              On December 30th, 2016, Matt and Megan arrived in Zurich, Switzerland after coming from
            skiing in St. Anton the previous days, and before that Vienna, Austria for Matt’s brother’s
            wedding. They decided to walk around Zurich to take in the sights and the culture. Matt
            pointed out that they should eat at a nice fancy spot named Terrasse, which Megan
            ALMOST vetoed despite Matt making a reservation for it months in advance. They ended
            up going. Though a really cool beer hall was a close second!
          </p>
          <br>
          <p class="marmerbodytext">
            The dinner at Terrasse was phenomenal where everything seemed just perfect. Megan
            even commented on just that, as they walked towards a bridge overlooking Lake Zurich.
            Megan was pointing out how beautiful the Christmas tree was, and identifying all of the
            different birds on the lake - swans, ducks, grebes. After much stalling, much kissing, and
            Megan picking up all of the hints knowing this was probably it, Matt told her that he had
            one more Christmas present for her.
          </p>
          <br>
          <p class="marmerbodytext">
            He pulls out a his grandmother’s diamond on a gold chain necklace and gets down on one
            knee and pops the question (throwing a Rocky Horror Picture Show quote in for good
            measure). Megan said YES! And the rest is history.
            </p>
        </div>
    </div>
</section>
