<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
              In the beginning of 2014, Matthew and Megan met at a board game meetup at the Cinderblock Brewery. They bonded over board games, beer, and generally nerdy topics
              and soon found themselves spending hours in Megan's car chatting about everything they could think of. On a whim, Megan asked Matt if he'd like to join her
                for a rare and special Final Fantasy concert in Omaha, NE since he seemed as into that kind of thing as her. He said yes! The relationship blossomed
                from there - a great big flower of geekery and awesomeness.
                <header>
              </header>
            </p>
            <!-- <p>
                Despite their self-proclaimed greatness, Cory and Ro have a pretty typical story. They met working together.
                Cory was blown away by Rowena's passion and thirst for adventure.
                Ro thought Cory was alright looking and a pretty good programmer.
                It did take years, but somehow he managed to woo her into considering him as a partner, and the rest has been history.
            </p> -->
        </div>
    </div>
</div>
