<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="section-heading text-center">Our Story</h2>
            <hr class="primary">
            <p>
              We play board games and don't afraid of anything!
            </p>
            <!-- <p>
                Despite their self-proclaimed greatness, Cory and Ro have a pretty typical story. They met working together.
                Cory was blown away by Rowena's passion and thirst for adventure.
                Ro thought Cory was alright looking and a pretty good programmer.
                It did take years, but somehow he managed to woo her into considering him as a partner, and the rest has been history.
            </p> -->
        </div>
    </div>
</div>
