{% load staticfiles %}
<section id="wedding-party" class="marmerbgteal">


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="marmerheader">The Bridal Party</h2>
                <hr class="marmerhr">
            </div>
        </div>
        <div class="text-center">
          <img src="{% static 'bigday/images/party/bridalparty-ashley.png' %}" class="img-responsive-best" alt="">
          <h3 class="marmersubheader">Ashley Marberry</h3>
          <p class="text-center marmerbodytext">{% lorem  %}</p>
        <div>

        <div class="row marmerbodytext testwidth">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-laura.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Laura Hagler</h3>
                    <p class="text-center">Ro's sister Stella is a punk! {% lorem  %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-jessica.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Jessica Jones</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-sarah.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Sarah Wingate</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-rebecah.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Rebecah Owen</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party" class="marmerbggreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="marmerheader">The Groomsmen</h2>
                <hr class="marmerhr">
            </div>
        </div>

        <div class="text-center">
          <img src="{% static 'bigday/images/party/groomsmen-nate.png' %}" class="img-responsive-best" alt="">
          <h3 class="marmersubheader">Nate Garrison</h3>
          <p class="text-center marmerbodytext">{% lorem  %}</p>
        <div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/tim.jpg' %}" class="img-responsive" alt="">
                    <h3>Lord Daniel Raven</h3>
                    <p class="text-center">Tim is alright I guess.{% lorem  %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/253/253" class="img-responsive" alt="">
                    <h3>Ryan Russell</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/254/254" class="img-responsive" alt="">
                    <h3>Tyler Steiner</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="http://lorempixel.com/255/255" class="img-responsive" alt="">
                    <h3>Martin Wong</h3>
                    <p class="text-center">{% lorem %}</p>
                </div>
            </div>
        </div>
    </div>
</section>
