{% load staticfiles %}
<section id="wedding-party" class="marmerbgteal">


    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="marmerheader">The Bridal Party</h2>
                <hr class="marmerhr">
            </div>
        </div>
        <div class="text-center">
          <img src="{% static 'bigday/images/party/bridalparty-ashley.png' %}" class="img-responsive-best" alt="">
          <h3 class="marmersubheader">Ashley Marberry</h3>
          <h4 class="h4title"> Maid of Honor </h4>
          <p class="text-center marmerbodytext">
            I currently live in Michigan, but I have traveled and lived in many other states. In my
            spare time I enjoy reading, watching movies, playing video games,
            painting/coloring, baking desserts and spending time with loved ones.
            <br>
            <br>
            Megan and I both went to Clippard Elementary School, but while she was pretending
            to be a velociraptor and terrorizing our classmates on recess, I took to the
            swings and very diligently tried to swing myself over the bar. So, we didn't really get
            to know each other until high school. Megan and I met again sometime during the
            fall of our freshman year; if I remember correctly, it was after school and in the
            library, a place we spent probably too many hours loitering on the internet and
            definitely not doing anything productive. This was the start of our glorious
            (smabffa:super mega awesome best friends forever always) friendship. Megan is
            the sister I never got to have. She has always been the best, most loyal, compassionate
            friend I have ever had. I'm incredibly honored that she chose me to be her
            Maid of Honor.


          </p>
        <div>

        <div class="row marmerbodytext testwidth">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-laura.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Laura Hagler</h3>
                    <h4 class="h4title"> Bridesmaid </h4>
                    <p class="text-center marmerbodytext">
                      I met Megan at Cape Central
                      High School in art class and had a
                      several week discussion about
                      the pronunciation of ‘Tidus’ from
                      Final Fantasy X. (She was technically
                      right, though I still say it
                      sounds dumb!) After that we
                      became quick friends with our
                      shared interests in drawing and
                      gaming and spent a lot of late
                      nights in front of the tv playing
                      Crystal Chronicles and DDR. Congrats
                      to you both! I am honored
                      that I get to celebrate this
                      JOYOUS MOMENT OF WEDDING
                      WONDER with you!

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-jessica.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Jessica Jones</h3>
                    <h4 class="h4title"> Bridesmaid </h4>
                    <p class="text-center marmerbodytext">
                      Jessica Jones first met Megan at
                      college, when they ended up on
                      the same floor of Woods House.
                      Soon after, crazy shenanigans
                      ensued. vFrom dressing up in
                      crazy outfits to entertain each
                      other at midnight, to containing
                      "the outbreak", and the creation
                      of Old Lady Mer, Jessica and
                      Megan have had a lot of fun! Now
                      that Jessica is back in the Kansas
                      City area for good, she is so
                      excited to see Megan and Matt
                      tie the knot!

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-sarah.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Sarah Wingate</h3>
                    <h4 class="h4title"> Bridesmaid </h4>
                    <p class="text-center marmerbodytext">
                      I met Megan about a decade ago
                      in a 2D art class. Our first conversation
                      was about leaky closet
                      pipes. It was during this conversation
                      that we learned we lived in
                      the same residence hall and on
                      the same floor. After class we
                      walked back to the residence
                      hall, and I haven't been able to
                      get rid of her since. (Seriously,
                      she followed me back to Kansas
                      City after we graduated. I can't
                      get rid of her.) Megan is one of
                      my closest friends, and I'm so
                      grateful that I met her. Congratulations
                      Megan and Matt! I can't
                      wait to celebrate your wedding
                      day!

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/bridalparty-rebecah.png' %}" class="img-responsive" alt="">
                    <h3 class="marmersubheader">Rebecah Owen</h3>
                    <h4 class="h4title"> Bridesmaid </h4>
                    <p class="text-center marmerbodytext">

                      Rebecah Owen met Megan in
                      college. They both lived in the
                      same dorm, then lived in an
                      apartment with 2 other girls. They
                      became good friends. A fond
                      memory of Rebecah is when she
                      passed out after giving blood.
                      Megan and a few other girls
                      looked after her, they watched
                      movies, and Megan playing
                      video games. Rebecah wishes
                      the happy couple all the best!

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="wedding-party" class="marmerbggreen">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="marmerheader">The Groomsmen</h2>
                <hr class="marmerhr">
            </div>
        </div>

        <div class="text-center">
          <img src="{% static 'bigday/images/party/groomsmen-nate.png' %}" class="img-responsive-best" alt="">
          <h3 class="marmersubheader">Nate Garrison</h3>
          <h4 class="h4title"> Best Man </h4>
          <p class="text-center marmerbodytext">

            Hailing from Brighton, Michigan, Nate Garrison grew up in the only state where you have more mileage on your snow blower than your car.
             He met Matt freshman year of college as they were both residents of the 5 star luxurious Fisher Hall.
             The two made steadfast companions slaying dragons, exploring subterranean realms, and casually saving the world while playing Dungeons and Dragons.
             Through shared experiences, the Fisherman eventually learned responsibility and Nate now works as a software developer for Epic Healthcare Systems.
             Nate still manages to play Dungeons and Dragons with Matt, although Megan has happily enjoyed the adventuring group. He still contacts Matt when troubled with existential questions about physics and the universe.

          </p>
        <div>
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/groomsmen-raven.png' %}" class="img-responsive" alt="">
                    <h3>Lord Daniel Raven</h3>
                    <h4 class="h4title"> Groomsman </h4>
                    <p class="text-center marmerbodytext">

                  This groomsman comes from West Philladelphia (but was not born, or raised there).
                  At the Comic and Game store is where he and Matt spent most of their days.
                  Chillin' out, maxin' (stats) relaxin', all cool.
                  They got in one little fight (with a Beholder) and yelled, "No fair!"
                      Okay, fine, no more singing!
                      They say that every man is the hero of his own story.
                      This is one exception to that rule. Matt is the real hero here.
                      He's the star of the show. He's the knight in shining armor.
                      I'm just the dashing rogue counterpart to this radiant paladin.
                      Now, if you'll excuse me, I need to go check for traps before he walks down the aisle...


                      Cheers!

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/groomsmen-ryan.png' %}" class="img-responsive" alt="">
                    <h3>Ryan Russell</h3>
                    <h4 class="h4title"> Groomsman </h4>
                    <p class="text-center marmerbodytext">

                      Ryan is Matt's favorite younger brother, who has come to redeem himself from their shaky past.
                      He feels really sorry for throwing a Thomas the Tank train at his brother's head, and will do anything it takes to make things right.
                      Part of his trail of redemption is standing up at the alter with him when he needs it most.
                      He also owes him a beer.

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/groomsmen-tyler.png' %}" class="img-responsive" alt="">
                    <h3>Tyler Steiner</h3>
                    <h4 class="h4title"> Groomsman </h4>
                    <p class="text-center marmerbodytext">
Tyler lives with his husband Tony in Lenexa, KS. Tyler and Matt met when they were both in the graduate Physics program at KU.  They bonded over painful physics classes, board games, and Magic the Gathering.  They have been playing board games and nerding out ever since.

                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <img src="{% static 'bigday/images/party/groomsmen-martin.png' %}" class="img-responsive" alt="">
                    <h3>Martin Wong</h3>
                    <h4 class="h4title"> Groomsman </h4>
                    <p class="text-center marmerbodytext">

                      This fella met Matthew Russel back in college!
                      He bonded with Matt since they both had matching blue shirts and spent a lot of time playing games instead of studying.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
