{% extends "base.html" %}
{% load staticfiles %}
{% block page_head %}
    <!-- Custom CSS -->
    <link href="{% static 'bigday/css/creative.css' %}" rel="stylesheet">
{% endblock %}
{% block page_content %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Megan & Matthew's Wedding</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#main-header">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#event">The Big Day</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#location">Where</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gifts">Registry</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#story">Our Story</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#wedding-party">Wedding Party</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {% block main %}
    <header id="main-header">
        <div class="header-content">
            <div class="header-content-inner-1">
                <h1>Megan & Matthew</h1>

            </div>
            <div class="header-content-inner-2">
                <h1>GET MARRIED!</h1>
                <hr>
            </div>
            <div class="header-content-inner-3">
                <h1>June 9, 2018</h1>
            </div>
            <div class="header-content-inner-4">
                {% comment %}
                <a href="#welcome" class="btn btn-info btn-xl page-scroll">Welcome</a>
                <a href="#event" class="btn btn-primary btn-xl page-scroll">Friday</a>
                <a href="#saturday-event" class="btn btn-success btn-xl page-scroll">Saturday</a>
                {% endcomment %}
            </div>
        </div>
    </header>
    <section class="bg-info bg-info-plus" id="welcome">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading marmerheader">Welcome!</h2>
                    <hr class="marmerhr">
                    <p class="marmerbodytext">
                        Hello friends and family! Our website is under construction, but feel to check back later!
                    </p>
                    <!-- <p>
                        If you're looking for information about the event, look no further!
                        Please see below for all the details regarding <a href="#event" class="page-scroll">Friday night's welcome party</a> and <a href="#saturday-event" class="page-scroll">Saturday's event</a>.
                    </p>
                    <p>
                        To get added to the wedding whatsapp group first create an account and then send an
                        email to <a href="mailto:whatsapp@coryandro.com">whatsapp@coryandro.com</a>.
                        Also, the current front-runner for the wedding hashtag (if you're into that sort of thing) is #getlukky.
                    </p>
                    <p>
                        Looking forward to seeing everyone soon!
                    </p> -->
                    <p class="pull-right marmerbodytext">- Megan and Matt</p>
                </div>
            </div>
        </div>
    </section>
    <section class="no-padding box-test" id="navigation">
        <div class="container-fluid box-test">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#event" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/big-day.jpg' %}" class="img-responsive img-2" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    The Big Day
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#location" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/welcome-to-kc.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    About Kansas City
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#story" class="portfolio-box page-scroll">
                        <img src="{% static 'bigday/images/our-story.jpg' %}" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-name">
                                    Our Story
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    {% include 'partials/event.html' %}

{% comment %}
    <section id="location">
        {% include 'partials/location.html' %}
    </section>
{% endcomment %}


    <!-- <section id="other-stuff" class="bg-primary">
        {% include 'partials/misc.html' %}
    </section> -->
{% comment %}
  <section id="gifts">
        {% include 'partials/gifts.html' %}
    </section>
{% endcomment %}

<header id="second-header" class="secondary"></header>

    <section id="story" class="no-padding bg-dark">
        {% include 'partials/story.html' %}
    </section>

    <section class="no-padding">
          <div class="container-fluid box-test">
              <div class="row no-gutter">
                  <div class="col-lg-6 col-sm-6">
                    <div class="img-responsive" id="background1">
                      <img src="{% static 'bigday/images/the-proposal-left.jpg' %}" class="img-responsive img-2" alt="">
                    </div>
                  </div>
                  <div class="col-lg-6 col-sm-6">
                    <div class="img-responsive" id="background2">
                      <img src="{% static 'bigday/images/the-proposal-right.jpg' %}" class="img-responsive img-2" alt="">
                      </div>
                  </div>
              </div>
          </div>
  </section>

    {% include 'partials/proposal.html' %}

    <section id="wedding-party" class="no-padding">
            {% include 'partials/wedding-party.html' %}
    </section>


    <!-- {% include 'partials/save-the-dates.html' %} -->
    <section id="contact" class="bg-dark marmerbgblue">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading marmerheader">Contact us!</h2>
                    <hr class="marmerhr">
                    <p marmerbodytext>If you have any questions don't hesitate to reach out!</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p style="font-style:italic"><a href="mailto:marmerwedding@gmail.com">marmerwedding@gmail.com</a></p>
                </div>
            </div>
        </div>
        <div id="footer" class="text-center text-muted invisible marmerbodytext" style="color:#FFFFFF;max-width:None;text-align:center">
          Designed and built by Matthew and Megan.
          Source code found <a href="https://github.com/pm8k/django-wedding-website">here</a>. Based on website by Github user <a href="https://github.com/czue/django-wedding-website">czue</a>.
        </div>
    </section>
    {% endblock %}
{% endblock %}
{% block page_js %}
    <!-- Plugin JavaScript -->
    <!-- Easing is for the vertical scroll animations -->
    <script src="{% static 'creative/js/jquery.easing.min.js' %}"></script>
    <!-- Automatically fit text based on screen size.-->
    <script src="{% static 'creative/js/jquery.fittext.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'creative/js/creative.js' %}"></script>
{% endblock %}
